{% extends 'base.html' %}

{% block content %}
    <div class="content-section">
        <div class="media">
            <img class="rounded-circle account-img" src="{{ avatar }}">
            <div class="media-body">
                <h2 class="account-heading">{{ current_user.username.capitalize() }}</h2>
                <p class="text-secondary">{{ current_user.email }}</p>
            </div>
        </div>
        <!-- FORM HERE -->

        <form method="post">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.username.label }}
                {{ form.username(class="form-control") }}
                <small id="emailHelp" class="form-text text-muted"></small>

                {% for error in form.username.errors %}
                    <div class="alert alert-danger">{{ error }}</div>
                {% endfor %}

            </div>

            <div class="form-group">
                {{ form.email.label }}
                {{ form.email(class="form-control") }}
                <small id="emailHelp" class="form-text text-muted"></small>

                {% for error in form.email.errors %}
                    <div class="alert alert-danger">{{ error }}</div>
                {% endfor %}

            </div>

            {{ form.submit(class="btn btn-primary") }}
        </form>
    </div>
{% endblock %}