{% extends 'base.html' %}

{% block content %}
    <div class="content-section">
        <div class="media">
            <img class="rounded-circle account-img" src="{{ avatar }}">
            <div class="media-body">
                <h2 class="account-heading">{{ current_user.username.capitalize() }}</h2>
                <p class="text-secondary">{{ current_user.email }}</p>
            </div>
        </div>


        <form method="post"enctype = "multipart/form-data"novalidate>
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.username.label }}
                {{ form.username(class="form-control") }}
                <small id="emailHelp" class="form-text text-muted"></small>

                {% for error in form.username.errors %}
                    <div class="alert alert-danger">{{ error }}</div>
                {% endfor %}

            </div>

            <div class="form-group">
                {{ form.email.label }}
                {{ form.email(class="form-control") }}
                <small id="emailHelp" class="form-text text-muted"></small>

                {% for error in form.email.errors %}
                    <div class="alert alert-danger">{{ error }}</div>
                {% endfor %}

            </div>
             <div class="form-group">
                {{form.picture(class='form-control-file')}}
                {%if form.picture.errors%}
                    {%for error in form.picture.errors%}
                 <div class="alert alert-danger">{{ error }}</div>
                    {%endfor%}
                 {%endif%}
             </div>
            {{ form.submit(class="btn btn-primary") }}
        </form>
        <hr>

        {% if current_user.username == 'yan71735' %}
        {% for feed in feedback %}
        <div class="card">
            <div class="card-header">
                {{ feed.user_username }}
            </div>
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <p>{{ feed.body }}</p>
                    <footer class="blockquote-footer">{{ feed.phone }}</footer>
                </blockquote>
            </div>
        </div>
        {% endfor %}
    {% endif %}
        </div>
{% endblock %}