{% extends 'base.html' %}

{% block content %}

    {% if current_user.is_anonymous %}
        <h1>Привет!Залогинься! </h1>
    {% else %}
        <h1>Привет, {{ current_user.username.capitalize() }}! Теперь ты в нашем храме!</h1>
    {% endif %}
    <hr>
    {%if current_user.is_authenticated%}
    <h3 class="'text-center">Задайте вопрос администратору</h3>
    <form method="post" novalidate>{{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.phone.label }}
        {{ form.phone(class="form-control") }}
        <small id="emailHelp" class="form-text text-muted">Телефон используется только администрацией сайта.</small>
        {% for error in form.phone.errors %}
            <div class="alert alert-danger">{{ error }}</div>
        {% endfor %}
    </div>
    <div class="form-group">
        {{ form.body.label }}
        {{ form.body(class="form-control") }}
        {% for error in form.body.errors %}
            <div class="alert alert-danger">{{ error }}</div>
        {% endfor %}
    </div>
    {{ form.submit(class="btn btn-primary") }}
    </form>
{%endif%}


{% endblock %}