{% extends 'base.html' %}

{% block content %}

    <form method="post" novalidate>
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.username.label }}
            {{ form.username(class="form-control") }}
            <small id="emailHelp" class="form-text text-muted">Ты реально забыл?</small>

            {% for error in form.username.errors %}
                <div class="alert alert-danger">{{ error }}</div>
            {% endfor %}

        </div>
        <div class="form-group">
            {{ form.password.label }}
            {{ form.password(class="form-control") }}

            {% for error in form.password.errors %}
                <div class="alert alert-danger">{{ error }}</div>
            {% endfor %}
        </div>
        <div class="form-group form-check">
            {{ form.remember_me(class="form-check-input") }} {{ form.remember_me.label(class="form-check-label") }}
        </div>

        {{ form.submit(class="btn btn-primary") }}
    </form>

{% endblock %}