{% extends 'base.html' %}

{% block content %}
<h2 class = 'text-center'>Регистрация</h2>
    <form method="post">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.username.label }}
            {{ form.username(class="form-control") }}
            <small id="emailHelp" class="form-text text-muted">Да,это нужно</small>

            {% for error in form.username.errors %}
                <div class="alert alert-danger">{{ error }}</div>
            {% endfor %}

        </div>

        <div class="form-group">
            {{ form.email.label }}
            {{ form.email(class="form-control") }}
            <small id="emailHelp" class="form-text text-muted">Мы всегда поделимся данными с КГБ</small>

            {% for error in form.email.errors %}
                <div class="alert alert-danger">{{ error }}</div>
            {% endfor %}

        </div>


        <div class="form-group">
            {{ form.password.label }}
            {{ form.password(class="form-control") }}

            {% for error in form.password.errors %}
                <div class="alert alert-danger">{{ error }}</div>
            {% endfor %}
        </div>

        <div class="form-group">
            {{ form.password2.label }}
            {{ form.password2(class="form-control") }}

            {% for error in form.password2.errors %}
                <div class="alert alert-danger">{{ error }}</div>
            {% endfor %}
        </div>

        {{ form.submit(class="btn btn-primary") }}
    </form>

{% endblock %}